.consultation {
    &__req {
        background: #ffffff;
        border-radius: 5px;
        padding: 25px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -148px;
        text-align: left;

        h4 {
            font-weight: 900;
            font-size: 20px;
            line-height: 19px;
            margin-bottom: 7px;
        }

        h5 {
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
        }

        &-form {
            display: flex;
            justify-content: space-between;

            button {
                width: 257px;
            }

            input,
            .input-file {
                width: 257px;
            }

            input::placeholder {
                font-weight: 300;
                font-size: 14px;
                color: $placeholder-color;
            }

            .form-select {
                width: 257px;
                border: 1px solid rgba(0, 0, 0, 0.05);
                font-weight: 300;
                font-size: 14px;
                color: $placeholder-color;

                &:focus {
                    outline: 2px solid #000;
                    box-shadow: none;
                }
            }

            .input-file {
                position: relative;
                display: inline-block;
                color: $placeholder-color;
                font-weight: 300;
                font-size: 14px;
                line-height: 130.8%;

                span {
                    display: inline-block;
                    cursor: pointer;
                    outline: none;
                    vertical-align: initial;
                    text-overflow: ellipsis;
                    width: 210px;
                    white-space: nowrap;
                    overflow: hidden;

                    &::after {
                        content: url("../../svg/clip-icon.svg");
                        width: 11.5px;
                        height: 12px;
                        position: absolute;
                        right: 12px;
                    }
                }

                input[type="file"] {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    display: block;
                    width: 0;
                    height: 0;
                }
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                margin-top: 28px;

                div {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    h6 {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 16px;
                        cursor: pointer;
                        border-bottom: 2px solid transparent;
                        transition: border-color 0.2s;

                        &:first-child {
                            margin-right: 30px;
                        }

                        &:hover {
                            border-color: #000;
                            transition: border-color 0.2s linear;
                        }

                        &.active {
                            font-weight: 900;
                            font-size: 16px;
                            line-height: 15px;
                            border-color: #000;
                        }
                    }
                }
            }
        }
    }
}
