.header {
    padding: 33px 32px;

    &__points {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-weight: 900;
            font-size: 24px;
            line-height: 23px;
        }

        h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.065em;
        }

        h5 {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            a {
                border-bottom: 1px solid #000;
                transition: all 0.3s;

                &:hover {
                    color: $link-hover !important;
                    border-color: $link-hover;
                    transition: all 0.3s;
                }
            }
        }
    }

    &__phone {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;

        &::after {
            content: url("../../svg/arrow-down.svg");
            width: 6.5px;
            height: 6.5px;
            margin-left: 8px;
            vertical-align: top;
        }
    }
}
