.main {
    background-color: $bckg-blue;
    padding: 64px 0 209px;
    text-align: center;

    &__wrapper {
        background-image: url("../../images/map.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    &__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 130.8%;
        max-width: 100%;
        width: 1170px;
        margin: 0 auto;
    }

    img {
        width: 969px;
        height: 474px;
        background-size: contain;
    }
}
