@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.item__wrapper {
    background: #ffffff;
    border-radius: 5px;
    padding: 28px 21px;

    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    span,
    p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 14px;
    }

    span {
        display: block;
        font-weight: 550;
    }

    p {
        font-weight: 400;

        &:last-of-type {
            margin-bottom: 26px;
        }
    }

    button {
        height: 35px;
        width: 100%;
        padding: 0;

        a,
        a:hover {
            color: initial;
        }
    }
}

.slick-slide > div {
    margin: 0 15px;
}
.slick-list {
    margin: 0 -15px;
}

.slick-prev:before,
.slick-next:before {
    width: 32px;
    height: 32px;
    position: absolute;
}

.slick-prev:before {
    content: url(../../svg/sliderArrow.svg);
    transform: rotate(180deg);
    right: 30px;
}

.slick-next:before {
    content: url(../../svg/sliderArrow.svg);
    left: 30px;
}
