.subscribe {
    padding: 65px 0 96px;

    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        width: 800px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 24px;
    }

    &__tg {
        width: 31.5%;

        img {
            width: 370px;
            margin-bottom: 22px;
        }

        button {
            font-weight: 900;
            font-size: 14px;
            line-height: 130.8%;
        }
    }

    &__tg button,
    &__req button {
        width: 100%;
    }

    &__req {
        width: 65%;
        filter: drop-shadow(0px 6px 10px rgba(219, 219, 219, 0.25));
        border-radius: 5px;
        padding: 17px 25px;
        background-color: #fff;
        position: relative;

        &::before {
            content: url("../../images/subscribe-img.png");
            position: absolute;
            z-index: 5;
            right: 49px;
            bottom: -8px;
        }

        h4 {
            width: 370px;
            font-size: 20px;
            line-height: 118%;
            font-weight: 900;
            margin-bottom: 6px;
        }

        h5 {
            font-weight: 300;
            font-size: 18px;
            line-height: 120.3%;
            margin-bottom: 15px;
            width: 330px;
        }

        & .consultation__req-form {
            display: flex;
            flex-direction: column;
            width: 345px;

            input,
            .input-file,
            .form-select {
                width: 100%;
                margin-bottom: 9px;
            }

            &-wrapper {
                margin-top: 0;

                & div {
                    margin-bottom: 22px;
                }
            }
        }
    }
}
